{% extends 'base.html' %}

{% block style %}
	<link href="{{url_for('static', filename='blog.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
	<body>
		{% block head %}
			{{ super() }}
		{% endblock %}
    <div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h2 style="color: #f5391c;">Walter Weberhofer</h2>
					<img style="max-height:30rem" src="{{url_for('static', filename='walter.jpg')}}">
					<p>Arquitecto del movimiento moderno conocido por su trabajo en espacialidades diferenciadas y obras únicas ubicadas en su mayoria en Santa María del Mar.</p>
				</div>
				<div class="col-lg-8">
					<br>
					<table class="table table-borderless">
						<tbody>
							<tr>
								<td><img src="https://via.placeholder.com/150x150" class="d-block w-100" alt="..."></td>
								<td></td>
								<td><img src="https://via.placeholder.com/150x150" class="d-block w-100" alt="..."></td>
							</tr>
							<tr>
								<td></td>
								<td><a href="{{url_for('obra')}}"><img src="{{url_for('static', filename='tauro-1.jpg')}}" class="d-block w-100" alt="..."></a></td>
								<td></td>
							</tr>
							<tr>
								<td><img src="https://via.placeholder.com/150x150" class="d-block w-100" alt="..."></td>
								<td></td>
								<td><img src="https://via.placeholder.com/150x150" class="d-block w-100" alt="..."></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<style>
				td {
					width: 33%;
					padding: 0 !important;
				}
			</style>
			<br><br>
		{% block rightbar %}
			{{ super() }}
		{% endblock %}
	</body>
{% endblock %}